.fusion-background {
  background: linear-gradient(-45deg, #81c784 50%, #4caf50 50%) !important;
}

/** Trying out 2 colors in the table of genes found / genes not found**/
.foundNotFoundBackground {
  background: linear-gradient(-45deg, #E57373 50%, #81c784 50%) !important;
}

/** Use this class to make non-button change the mouse pointer when hovering **/
.sim-button {
  cursor: pointer;
}

.sim-button:hover {
  opacity: 0.75
}

.v-input.v-text-field.v-textarea .v-text-field__slot {
  padding: 5px 10px 5px 5px; /*fix scrollbar overlapping with textarea outlined */
}
tr:nth-child(even) {
  background-color: #fafafa;
}
tr:nth-child(odd) {
  background-color: white;
}
.darker-border {
  border-color: rgba(0, 0, 0, 0.38) !important;
}

.fixed-column table > tbody > tr > td:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 9998;
  background-color: inherit;
}

.fixed-column table > thead > tr > th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 9999 !important;
  background-color: inherit;
}

.dense v-expansion-panel-content__wrap {
  margin: 0
}

.v-data-table-header tr th{
  white-space: nowrap
}